*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1em;
}

.container {
  width: 700px;
  border: 2px solid green;
  margin: 1em auto;
  padding: 3em;
}

.title {
  margin-bottom: 2em;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.recentscore {
  display: flex;
  justify-content: space-between;
  margin-block: 1em;
}

.addscore {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

button,
input[type="text"] {
  padding: 0.5em 1em;
}

#btnaddscore {
  margin-left: 15em;
}

#scorelist {
  border: 1px solid green;
  padding: 1em 2em;
  gap: 2em;
}
