*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1em;
}

.container {
  width: 700px;
  border: 2px solid green;
  margin: 1em auto;
  padding: 2em;
}

.title {
  margin-bottom: 2em;
  color: rgb(17, 166, 17);
  font-size: 1.2rem;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.recentscore {
  display: flex;
  justify-content: space-between;
  margin-block: 1em;
}

.addscore {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-left: 10px;
  margin-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

button,
input[type="text"] {
  padding: 0.5em 1em;
}

#btnaddscore {
  margin-left: 15em;
}

button:hover {
  background-color: rgb(169, 237, 169);
}

#scorelist {
  border: 1px solid green;
  padding: 0.5em;
}

li.score {
  margin: 0.5em;
  padding: 0.5em;
}

li.score:nth-child(even) {
  background-color: rgb(169, 237, 169);
}
